# Project 2
## Matthew Manno's Data

I will use this data to figure out geographically where my users are. I want to know where they are located by city, and if city is unavailable then by the state they live in.

I Want to know:

    1. What city has the largest number of female users.
    2. What city has the largest number of male users.
    3. What state has the largest number of female users.
    4. What state has the largest number of male users.

In [1]:
import numpy as np
import pandas as pd
#set some pandas options controling output format
pd.set_option('display.notebook_repr_html',True) # output as flat text and not HTML
pd.set_option('display.max_rows', None) # this is the maximum number of rows we will display
pd.set_option('display.max_columns', None) # this is the maximum number of rows we will display

In [2]:
# read the csv into a dataframe, and force postal_code to be interpreted as a string.
users = pd.read_csv('data/IS-362_Untidy_Data.csv', dtype={'postal_code': str})

In [3]:
# Display the columns in the dataframe, and get a peak at how it's formatted
users.head()

,id,first_name,last_name,gender,email,address,city,state,postal_code,phone_number
0,1,Loralee,MacAdam,NaN,lmacadam0@twitter.com,0122 Alpine Street,Fort Wayne,Indiana,46814,260-134-3027
1,2,Shir,Padula,Female,spadula1@state.gov,7 Orin Lane,Littleton,Colorado,NaN,720-172-5365
2,3,Nicole,Ottey,Female,nottey2@ucsd.edu,04558 Del Mar Street,New York City,New York,10175,646-968-2745
3,4,Wandie,MacKinnon,Female,wmackinnon3@geocities.jp,4 Morningstar Alley,Tucson,Arizona,85743,520-484-3593
4,5,NaN,Avey,Male,tavey4@google.com.br,40574 Mallard Crossing,Canton,Ohio,44720,234-345-6985

In [4]:
# get rid of rows without a city, state, and postal code
users.dropna(subset=['city', 'state', 'postal_code'], how='all', inplace=True)

In [5]:
# create a dataframe with the number of female users by State. Dropping NaN state values.
state_users = users.dropna(subset=['state'], how='any') \
                [(users.dropna(subset=['state'], how='any').gender == 'Female')] \
                .groupby('state') \
                .state.count() \
                .reset_index(name='female_count') \
                .sort_values(['state'], ascending=True)

# create a dataframe with the number of male users by State. Dropping NaN state values.
male_users = users.dropna(subset=['state'], how='any') \
                [(users.dropna(subset=['state'], how='any').gender == 'Male')] \
                .groupby('state') \
                .state.count() \
                .reset_index(name='male_count') \
                .sort_values(['state'], ascending=True)

# join the two series into one dataframe
state_users = state_users.join(male_users.male_count)

In [6]:
# return the state with the most female users
state_users.sort_values('female_count', ascending=False).head(1)

        state  female_count  male_count
4  California            57          39

In [7]:
# return the state with the most male users
state_users.sort_values('male_count', ascending=False).head(1)

        state  female_count  male_count
4  California            57          39

In [8]:
# create a dataframe with the number of female users by city
city_users = users.dropna(subset=['city'], how='any') \
                [(users.dropna(subset=['city'], how='any').gender == 'Female')] \
                .groupby(['city', 'state']) \
                .city.count() \
                .reset_index(name='female_count') \
                .sort_values(['city','state'], ascending=[True,True])

# create a dataframe with the number of male users by city
male_users = users.dropna(subset=['city'], how='any') \
                [(users.dropna(subset=['city'], how='any').gender == 'Male')] \
                .groupby(['city','state']) \
                .city.count() \
                .reset_index(name='male_count') \
                .sort_values(['city', 'state'], ascending=[True,True])
                
# join the two series into one dataframe
city_users = city_users.join(male_users.male_count)
city_users.male_count = male_users.male_count.astype(int)

In [9]:
# return the city with the most female users
city_users.sort_values('female_count', ascending=False).head(1)

           city                 state  female_count  male_count
203  Washington  District of Columbia            20         NaN

In [10]:
# return the city with the most male users
city_users.sort_values('male_count', ascending=False).head(1)

      city    state  female_count  male_count
188  Tampa  Florida             2        18.0

## Matthew Manno's Answers
to answer my questions:
    1. What city has the largest number of female users.
                Washington, DC
    2. What city has the largest number of male users.
                Tampa, FL
    3. What state has the largest number of female users.
                California
    4. What state has the largest number of male users.
                California

# Djamshed Djuraev's Data
Djamshed's post:
    I have found the following CSV formatted data which is called "Death_Rates_NYC". Here is the CSV file: Death_Rates_NYC.csv 

    Here is what I will be analyzing by using pandas:

    1. There is dot's exist in the some rows which is a missing data. I will change the dot's to null and will sort the data by Year and Leading Cause.
    2. I will see all causes of death among females of white non Hispanic Race Ethnicity.
    3. I will filter data by grouping by Race Ethnicity and sort the data by Race Ethnicity and Leading Cause.

In [11]:
# read the csv into a dataframe, and set all "." to na values
dot = pd.read_csv('data/Death_Rates_NYC.csv', na_values=['.'])

In [12]:
dot.sort_values(['Year', 'Leading Cause'], ascending=[True, False]).head(10)

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
44,2007,Septicemia (A40-A41),F,Hispanic,49.0,4.2,5.5
182,2007,Septicemia (A40-A41),F,Black Non-Hispanic,89.0,8.5,8.1
5,2007,Mental and Behavioral Disorders due to Use of ...,M,Not Stated/Unknown,NaN,NaN,NaN
49,2007,Mental and Behavioral Disorders due to Acciden...,M,Black Non-Hispanic,163.0,19.1,19.0
40,2007,Malignant Neoplasms (Cancer: C00-C97),M,Not Stated/Unknown,45.0,NaN,NaN
79,2007,Malignant Neoplasms (Cancer: C00-C97),M,White Non-Hispanic,3356.0,250.9,213.7
255,2007,Malignant Neoplasms (Cancer: C00-C97),F,Other Race/ Ethnicity,22.0,NaN,NaN
269,2007,"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",M,White Non-Hispanic,187.0,14.0,12.7
33,2007,Influenza (Flu) and Pneumonia (J09-J18),F,Black Non-Hispanic,295.0,28.0,26.9
151,2007,Influenza (Flu) and Pneumonia (J09-J18),F,Hispanic,190.0,16.3,22.3

In [13]:
# rename the columns for ease of use
dot = dot.rename(columns={'Year': 'year', \
                          'Leading Cause': 'leading_cause', \
                          'Sex': 'sex', \
                          'Race Ethnicity': 'race_ethnicity', \
                          'Deaths': 'deaths', \
                          'Death Rate': 'death_rate', \
                          'Age Adjusted Death Rate': 'age_adjusted_death_rate'})

# this line drops any rows with null for Year, Leading Cause, or Deaths.
dot.dropna(subset=['year', 'leading_cause', 'deaths'], how='any', inplace=True) 

# set the deaths column to integers so pandas interprets it numerically
dot.deaths = dot.deaths.astype(int)

In [14]:
# Sort the dataframe by Year and Leading Cause... which means total deaths for a leading cause.
dot.sort_values(['year', 'deaths'], ascending=[True, False], inplace=True)

### Answer 2

In [15]:
# Filter the dataframe to show only deaths for White Non-Hispanic females.
f_wnh_deaths = dot[(dot.race_ethnicity == 'White Non-Hispanic') & (dot.sex == 'F')]
            
f_wnh_deaths.head(50)

,year,leading_cause,sex,race_ethnicity,deaths,death_rate,age_adjusted_death_rate
234,2007,All Other Causes,F,White Non-Hispanic,1680,117.1,81.5
181,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,162,11.3,7.3
230,2008,All Other Causes,F,White Non-Hispanic,1706,118.9,78.6
38,2008,Diabetes Mellitus (E10-E14),F,White Non-Hispanic,210,14.6,8.8
190,2009,Malignant Neoplasms (Cancer: C00-C97),F,White Non-Hispanic,3346,232.9,159.0
119,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,White Non-Hispanic,5351,374.2,189.2
224,2010,Chronic Lower Respiratory Diseases (J40-J47),F,White Non-Hispanic,501,35.0,20.7
133,2010,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,219,15.3,7.7
195,2011,Malignant Neoplasms (Cancer: C00-C97),F,White Non-Hispanic,3371,238.0,161.1
165,2011,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,199,14.0,6.8
27,2011,Mental and Behavioral Disorders due to Acciden...,F,White Non-Hispanic,88,6.2,6.1
226,2012,Diabetes Mellitus (E10-E14),F,White Non-Hispanic,240,16.9,10.3
115,2012,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,199,14.0,7.2
285,2012,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,177,12.5,8.5
218,2013,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,White Non-Hispanic,4535,319.0,160.6
239,2013,All Other Causes,F,White Non-Hispanic,2595,182.5,111.1
147,2013,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,622,43.7,22.1
243,2013,Cerebrovascular Disease (Stroke: I60-I69),F,White Non-Hispanic,427,30.0,16.4
104,2013,Alzheimer's Disease (G30),F,White Non-Hispanic,263,18.5,8.4
282,2013,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,166,11.7,8.1
129,2014,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,563,39.7,20.4
23,2014,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,180,12.7,6.7
28,2014,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,169,11.9,7.4
223,2014,Septicemia (A40-A41),F,White Non-Hispanic,118,8.3,4.7

In [16]:
# I will filter data by grouping by Race Ethnicity and sort the data by Race Ethnicity and Leading Cause.
# I think what he is trying to say is that he will sort the data in such a way that he will be able
# to discren the leading cause of death by race/ethnicity. To do this we furst have to create a 
# dataframe that holds the race/ethnicity, leading cause of death, and sum of those deaths from each year.
# this line of code does that.
leading_cause_by_race = dot.groupby(['race_ethnicity', 'leading_cause'], \
                        as_index=False)['deaths'].sum()

### Answer 3

In [17]:
# Then we take the dataframe with the race/ethnicity, leading cause of death, and sum of those 
# deaths from each year, and sort it by race/ethnicity, and the sum of the Leading cause of death.
leading_cause_by_race.sort_values(['race_ethnicity', 'deaths'], ascending=[True,False])

,race_ethnicity,leading_cause,deaths
11,Asian and Pacific Islander,Malignant Neoplasms (Cancer: C00-C97),3263
1,Asian and Pacific Islander,All Other Causes,1743
7,Asian and Pacific Islander,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",1730
9,Asian and Pacific Islander,Influenza (Flu) and Pneumonia (J09-J18),429
2,Asian and Pacific Islander,Cerebrovascular Disease (Stroke: I60-I69),391
5,Asian and Pacific Islander,Chronic Lower Respiratory Diseases (J40-J47),286
0,Asian and Pacific Islander,"Accidents Except Drug Posioning (V01-X39, X43,...",168
6,Asian and Pacific Islander,Diabetes Mellitus (E10-E14),128
8,Asian and Pacific Islander,Essential Hypertension and Renal Diseases (I10...,92
10,Asian and Pacific Islander,"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",58
12,Asian and Pacific Islander,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",41
3,Asian and Pacific Islander,Certain Conditions originating in the Perinata...,19
4,Asian and Pacific Islander,"Chronic Liver Disease and Cirrhosis (K70, K73)",17
13,Asian and Pacific Islander,Viral Hepatitis (B15-B19),15
21,Black Non-Hispanic,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",12661
25,Black Non-Hispanic,Malignant Neoplasms (Cancer: C00-C97),6865
15,Black Non-Hispanic,All Other Causes,4182
20,Black Non-Hispanic,Diabetes Mellitus (E10-E14),2394
18,Black Non-Hispanic,Cerebrovascular Disease (Stroke: I60-I69),987
17,Black Non-Hispanic,"Assault (Homicide: Y87.1, X85-Y09)",832
19,Black Non-Hispanic,Chronic Lower Respiratory Diseases (J40-J47),673
22,Black Non-Hispanic,Essential Hypertension and Renal Diseases (I10...,657
14,Black Non-Hispanic,"Accidents Except Drug Posioning (V01-X39, X43,...",599
23,Black Non-Hispanic,Human Immunodeficiency Virus Disease (HIV: B20...,596
24,Black Non-Hispanic,Influenza (Flu) and Pneumonia (J09-J18),537
16,Black Non-Hispanic,Alzheimer's Disease (G30),257
26,Black Non-Hispanic,Mental and Behavioral Disorders due to Acciden...,163
27,Black Non-Hispanic,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",90
28,Black Non-Hispanic,Septicemia (A40-A41),89
40,Hispanic,Malignant Neoplasms (Cancer: C00-C97),6743
36,Hispanic,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",5176
30,Hispanic,All Other Causes,2187
35,Hispanic,Diabetes Mellitus (E10-E14),1235
38,Hispanic,Human Immunodeficiency Virus Disease (HIV: B20...,852
39,Hispanic,Influenza (Flu) and Pneumonia (J09-J18),822
29,Hispanic,"Accidents Except Drug Posioning (V01-X39, X43,...",603
32,Hispanic,Cerebrovascular Disease (Stroke: I60-I69),595
33,Hispanic,"Chronic Liver Disease and Cirrhosis (K70, K73)",403
41,Hispanic,Mental and Behavioral Disorders due to Acciden...,311
34,Hispanic,Chronic Lower Respiratory Diseases (J40-J47),307
37,Hispanic,Essential Hypertension and Renal Diseases (I10...,300
31,Hispanic,Alzheimer's Disease (G30),246
42,Hispanic,Septicemia (A40-A41),49
44,Not Stated/Unknown,All Other Causes,608
55,Not Stated/Unknown,Malignant Neoplasms (Cancer: C00-C97),170
51,Not Stated/Unknown,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",158
47,Not Stated/Unknown,Certain Conditions originating in the Perinata...,66
53,Not Stated/Unknown,Influenza (Flu) and Pneumonia (J09-J18),32
49,Not Stated/Unknown,Chronic Lower Respiratory Diseases (J40-J47),28
56,Not Stated/Unknown,Mental and Behavioral Disorders due to Acciden...,28
46,Not Stated/Unknown,Cerebrovascular Disease (Stroke: I60-I69),22
52,Not Stated/Unknown,Human Immunodeficiency Virus Disease (HIV: B20...,15
43,Not Stated/Unknown,"Accidents Except Drug Posioning (V01-X39, X43,...",10
48,Not Stated/Unknown,"Chronic Liver Disease and Cirrhosis (K70, K73)",10
54,Not Stated/Unknown,"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",8
45,Not Stated/Unknown,"Assault (Homicide: Y87.1, X85-Y09)",7
50,Not Stated/Unknown,Diabetes Mellitus (E10-E14),5
57,Other Race/ Ethnicity,All Other Causes,260
67,Other Race/ Ethnicity,Malignant Neoplasms (Cancer: C00-C97),122
62,Other Race/ Ethnicity,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",40
61,Other Race/ Ethnicity,Diabetes Mellitus (E10-E14),20
58,Other Race/ Ethnicity,Cerebrovascular Disease (Stroke: I60-I69),19
66,Other Race/ Ethnicity,"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",15
65,Other Race/ Ethnicity,Influenza (Flu) and Pneumonia (J09-J18),13
68,Other Race/ Ethnicity,Mental and Behavioral Disorders due to Acciden...,12
59,Other Race/ Ethnicity,"Chronic Liver Disease and Cirrhosis (K70, K73)",10
64,Other Race/ Ethnicity,Human Immunodeficiency Virus Disease (HIV: B20...,10
63,Other Race/ Ethnicity,Essential Hypertension and Renal Diseases (I10...,8
69,Other Race/ Ethnicity,Septicemia (A40-A41),6
60,Other Race/ Ethnicity,Chronic Lower Respiratory Diseases (J40-J47),5
80,White Non-Hispanic,Malignant Neoplasms (Cancer: C00-C97),13481
71,White Non-Hispanic,All Other Causes,11582
76,White Non-Hispanic,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",9886
78,White Non-Hispanic,Influenza (Flu) and Pneumonia (J09-J18),1687
75,White Non-Hispanic,Diabetes Mellitus (E10-E14),1278
73,White Non-Hispanic,Cerebrovascular Disease (Stroke: I60-I69),1247
77,White Non-Hispanic,Essential Hypertension and Renal Diseases (I10...,1240
74,White Non-Hispanic,Chronic Lower Respiratory Diseases (J40-J47),1234
70,White Non-Hispanic,"Accidents Except Drug Posioning (V01-X39, X43,...",971
79,White Non-Hispanic,"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",586
72,White Non-Hispanic,Alzheimer's Disease (G30),263
82,White Non-Hispanic,Septicemia (A40-A41),118
81,White Non-Hispanic,Mental and Behavioral Disorders due to Acciden...,88

# Djamshed Djuraev's Answers
to answer Djamshed's questions:
    1. There is dot's exist in the some rows which is a missing data.
    I will change the dot's to null and will sort the data by Year and Leading Cause.
                    See above.
    2. I will see all causes of death among females of white non Hispanic Race Ethnicity.
                    See section above marked "Answer 2".
    3. I will filter data by grouping by Race Ethnicity and sort the data by Race Ethnicity and Leading Cause.
                    See section above marked "Answer 3".

# Nicholas Ileczko 's Data
Nicholas's post:
    This dataset contains traffic violation information from all electronic traffic violations issued in the County.
    https://catalog.data.gov/dataset/traffic-violations-56dda

    1. I will analyze the data by finding out which type of car has the most violations
    2. Which state besides Maryland has the highest violations
    3. Which violation is most popular

The dataset provided was over 400 MB, so I truncated is significantly to only the first 1000 rows, for the purpsoses of this assignment.

In [18]:
# Read the data in from the CSV
traffic_full = pd.read_csv('data/Traffic_Violations_Short.csv', dtype={'Year': str})
traffic_full = traffic_full.rename(columns={'Driver State': 'driver_state', \
                          'Violation Type': 'violation_type',})    # rename the column headers (remove spaces)

In [19]:
# create a series that contains the year, make, and model in one string
tempdf = traffic_full['Year'].astype(str) + ' ' + traffic_full['Make'] + ' ' + traffic_full['Model']

# create a dataframe that contains a subset of the traffic data
traffic = traffic_full[['Fatal', 'driver_state', 'violation_type']].copy()
traffic['ymm'] = tempdf # add the year/make/model column to the dataframe
traffic.head() # display the new dataframe

  Fatal driver_state violation_type                  ymm
0    No           MD       Citation         2008 FORD 4S
1    No           VA       Citation  2001 TOYOTA COROLLA
2    No           MD       Citation    2001 HONDA ACCORD
3    No           MD       Citation     1998 DODG DAKOTA
4    No           MD       Citation  2015 MINI COOPER 2S

In [20]:
# create a dataframe with the count of each violation by year/make/model.
tempdf = traffic.groupby('ymm').ymm.count().reset_index(name='ymm_count')
tempdf.sort_values('ymm_count', ascending=False).head(5) # sort the total violations by tear make and model

                         ymm  ymm_count
668             2016 TOYT TK          8
681            nan NONE NONE          7
353        2006 FORD MUSTANG          7
655      2015 MINI COOPER 2S          6
423  2007 NISS 350 Z TRICKED          5

In [21]:
tempdf = traffic[traffic.driver_state != 'MD'].groupby('driver_state').driver_state.count().reset_index(name='state_violations')
tempdf.sort_values('state_violations', ascending=False).head(5) # sort the total violations by tear make and model

  driver_state  state_violations
2           DC                28
9           VA                22
7           PA                 4
6           NY                 3
0           AK                 2

In [22]:
# create a dataframe with the count of each violation by year/make/model.
tempdf = traffic.groupby('violation_type').violation_type.count().reset_index(name='violation_count')
tempdf.sort_values('violation_count', ascending=False).head(5) # sort the total violations by tear make and model

  violation_type  violation_count
0       Citation              834
2        Warning              148
1          ESERO               17

## Nicholas Ileczko's Answers
to answer Nicholas's questions:

    1. I will analyze the data by finding out which type of car has the most violations
                The 2016 Toyota TK... though I'm not sure wht type of car that is. 
                For cars that I've heard of it would be the Ford Mustang.
    2. Which state besides Maryland has the highest violations
                It's not a state but the District of Columbia.
                Virginia is the State with the most violations with the exception of Maryland.
    3. Which violation is most popular
                Citation is the most popular vilation type.