# Project 2

In [84]:
import pandas as pd
#set some pandas options controling output format
pd.set_option('display.notebook_repr_html',True) # output as flat text and not HTML
pd.set_option('display.max_rows', 10) # this is the maximum number of rows we will display

In [104]:
# read the csv into a dataframe
users = pd.read_csv('data/IS-362_Untidy_Data.csv', dtype={'postal_code': str, 'city': str})
users.drop(['first_name','last_name', 'gender', 'email','address','phone_number'], inplace=True, axis=1)
users.city = users.city.str.upper()
users.city = users.city.str.strip()
users.city.str.encode('utf-8')
users = users.rename(columns={'city': 'city'})

In [105]:
# Display the columns in the dataframe, and get a peak at how it's formatted
print(users)

       id             city                 state postal_code
0       1       FORT WAYNE               Indiana       46814
1       2        LITTLETON              Colorado         NaN
2       3    NEW YORK CITY              New York       10175
3       4           TUCSON               Arizona       85743
4       5           CANTON                  Ohio       44720
..    ...              ...                   ...         ...
995   996           FRESNO            California       93704
996   997  FORT LAUDERDALE               Florida       33310
997   998       WASHINGTON  District of Columbia       20099
998   999          PHOENIX               Arizona       85035
999  1000       LOUISVILLE              Kentucky       40256

[1000 rows x 4 columns]

In [106]:
# get rid of rows without a city, state, and postal code
users.dropna(subset=['city', 'state', 'postal_code'], how='all', inplace=True)
users[(users.city == 'NEW YORK')] = 'NEW YORK CITY'
users.city = users.city.astype(str)
print(users)

       id             city                 state postal_code
0       1       FORT WAYNE               Indiana       46814
1       2        LITTLETON              Colorado         NaN
2       3    NEW YORK CITY              New York       10175
3       4           TUCSON               Arizona       85743
4       5           CANTON                  Ohio       44720
..    ...              ...                   ...         ...
995   996           FRESNO            California       93704
996   997  FORT LAUDERDALE               Florida       33310
997   998       WASHINGTON  District of Columbia       20099
998   999          PHOENIX               Arizona       85035
999  1000       LOUISVILLE              Kentucky       40256

[992 rows x 4 columns]

In [77]:
# read in the zipcode database from http://federalgovernmentzipcodes.us/
zips = pd.read_csv('http://federalgovernmentzipcodes.us/free-zipcode-database-Primary.csv', dtype={'Zipcode': str, 'City': str})
zips.drop(['ZipCodeType','LocationType', 'Lat', 'Long','Location','Decommisioned','TaxReturnsFiled','EstimatedPopulation','TotalWages'], inplace=True, axis=1)

In [111]:
# Display the columns in the dataframe, and get a peak at how it's formatted
zips = zips.rename(columns={'City': 'city', 'Zipcode': 'postal_code', 'State': 'state'})
zips.city = zips.city.str.upper()
zips.city = zips.city.str.strip()
zips.city = zips.city.astype(str)
zips.city.str.encode('utf-8')
zips[(zips.city == 'NEW YORK')] = 'NEW YORK CITY'
print(zips)

      postal_code         city state
0           00705     AIBONITO    PR
1           00610       ANASCO    PR
2           00611      ANGELES    PR
3           00612      ARECIBO    PR
4           00601     ADJUNTAS    PR
...           ...          ...   ...
42517       34009          APO    AA
42518       34010          APO    AA
42519       34001          APO    AA
42520       34071          APO    AA
42521       97475  SPRINGFIELD    OR

[42522 rows x 3 columns]

In [112]:
users.city = users.city.astype(str)
zips.city = zips.city.astype(str)
# merged = pd.merge(users, zips, on='city', how='inner')
print(users.merge(zips, on='city', how='inner'))

        id        city  state_x postal_code_x postal_code_y state_y
0        1  FORT WAYNE  Indiana         46814         46801      IN
1        1  FORT WAYNE  Indiana         46814         46802      IN
2        1  FORT WAYNE  Indiana         46814         46803      IN
3        1  FORT WAYNE  Indiana         46814         46804      IN
4        1  FORT WAYNE  Indiana         46814         46805      IN
...    ...         ...      ...           ...           ...     ...
61237  995       BRYAN    Texas         77806         77803      TX
61238  995       BRYAN    Texas         77806         77805      TX
61239  995       BRYAN    Texas         77806         77806      TX
61240  995       BRYAN    Texas         77806         77807      TX
61241  995       BRYAN    Texas         77806         77808      TX

[61242 rows x 6 columns]